body {
	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/nasty_fabric.png");
}

header {
	background: blue;
	margin-bottom: 50px;
	margin-top: none;
	color: white;
}

h1 {
 text-align: center;
 margin-top: none;
}

h2 {
	text-align: center;
}

#schedule {
	width: 60%;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 50px;
	border: 2px black solid;
	background: white;
}

#add {
	width: 60%;
	height: 200px;
	margin: 0 auto;
	border: 2px black solid;
	background: white;
}

.section-header {
	background: blue;
	color: white;
}
